body {
    background-color: rgb(243, 214, 150);
    margin: 0;
    padding: 0;
}

.Activity {
    text-align: center;
    font-family: forte;
    font-size: 25px;
}

.container {
    text-align: center;
    background-color: rgb(241, 187, 124);
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

table {
    width: 100%;
    font-size: 20px;
    border-collapse: collapse;
}

.title {
    font-size: 30px;
}

.Animals {
    font-size: 25px;
    color: rgb(218, 77, 22);
}
.Crow:hover{
    color: rgb(11, 11, 11);
}
.Octopus:hover{
    color: rgb(95, 27, 3);
}
.Panther:hover{
    color: rgb(9, 9, 9);
}
.Axolotl:hover{
    color: rgb(241, 118, 139);
}
.Penguin:hover{
    color: rgb(234, 239, 239);
}

table,
th,
td {
    border: 1px solid white;
    padding: 8px;
}

th {
    background-color: rgba(0, 0, 0, 0.1);
}

.container img {
    display: block;
    width: 200px;
    /* Maintain the same width for the image */
    height: auto;
    margin: 0 auto;
}

/* Responsive media queries */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .Activity,
    .Animals,
    .title {
        font-size: 20px;
    }
}