*{
  
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main {
    height: 100%;
    width: 100%;
    background-image: url(HD-wallpaper-nasa-logo.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
  

}

.form-box{
   
  
    width: 380px;
    height: 330px;
    position: relative;
    margin: 10% auto;
    color: rgb(43, 255, 0);
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 10px;
    padding: 5px;
    /*border: rgb(252, 0, 0) solid 5px;*/
}
.inside-box{
    top: 80px;
    position: absolute;
    width: 280px;
    margin-left: 40px;
}
.userInput{
width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    background:transparent;
    border: red 1.5px solid;
    color: rgb(255, 115, 0);
    border-spacing: 50%;
}

.loginButton{
    background: transparent;
    border: rgb(43, 255, 0) 1.5px solid;
    color: rgb(255, 0, 0);
}
.checkBox{
    background: transparent;
    border: rgb(43, 255, 0) 1.5px solid;
    color: rgb(255, 0, 0);
}